<h1>Incremento y decremento de un contador</h1>
<p>
  Programa que incremente y decrementa una variable llamada contador con las siguientes operaciones:
</p>
<ul>
  <li>Suma</li>
  <li>Multiplicación</li>
  <li>Resta</li>
</ul>
<p>
  <b>Contador:</b> {{contador}}
</p>
<button (click)="increment(1)">Incrementando +1</button>&nbsp;
<button (click)="increment(2)">Incrementando +2</button>&nbsp;
<button (click)="multiplicar(2)">Multiplicar x2</button><br/><br/>
<button (click)="restar(1)">Restar 1</button>&nbsp;
<button (click)="restar(2)">Restar 2</button>